body{
	width:100%;
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif; 
	background:#ff9aa9;
	color:white;
	letter-spacing:2px;
	background:white;
}


nav {
	height:100px;
	width:100%;
	background-color:white;

}


#underHerSkin{
	width:100%;
	height:394px;
	background:url('UnderHerSkin.png') no-repeat center;
	background-color:rgba(215,192,140,0.9);;
	background-size:cover;
}

/*the about div is overlaid on top of #contentFrame and disappears on click*/
#about {
	color:#071409;
	padding: 10% 5% 9.333% 5%;	
	line-height: 1.66666em;
	font-size:1em;
	position:absolute;
	background:rgba(215,192,140,0.9);
	/*opacity:0.85;*/
	/*height:210px;*/
	text-align: center;
}











#about>p{
	width:70%;
	margin:70px auto 0 auto;
}

#about p:first-child{
    margin-top: -35px;
}


#aboutButton {
	border:2px solid #071409;
	width:90px;
	padding:10px;
	margin:50px auto -22px auto;
	text-align: center;
	border-radius:3px;
	cursor:pointer;
}

#contentFrame{
	margin:0 auto;
	text-align: center;
	padding: 5.5% 6% ;
	background:#ebdfc5;
	/*min-height:390px;*/
}

#miller-pic,#coleman-pic,#echols-pic {
  width:300px;
  height:300px;
  border: 10px solid white;
  border-radius:50%;
  margin-left:30px;
  display:inline-block;
}

#miller-pic:hover,#coleman-pic:hover,#echols-pic:hover{
  border-color:#b0aa82;
}

#miller-pic {
  background:url("miller.jpg") no-repeat 36% -3% ;
  background-size:cover;
}

#coleman-pic {
  background:url("anitacoleman.jpg") no-repeat 22% 16% ;
  background-size:cover;
}

#echols-pic {
  background:url("Echols1_1_1.jpg") no-repeat 43%;
  background-size:cover;
}

#audioButton {
	width:30px;
	height:30px;
	background:url('sound_high.png') no-repeat center center;
	background-size:contain;
	position:fixed;
	top: 350px;
	right: 70px;
	opacity:0.4;
}

#audioButton:hover{
	opacity:1;
}

#footer {
	height:100px;
	padding:1% 3% 0 3%;
	/*background:#4F4B3A;*/
}

.credit {
	margin-top:25px;
	float:left;
	text-decoration: none;
	color:black;
	font-size:0.75em;
	letter-spacing:2px;
}

.credit:hover{
	color:red;
}


#logo {
	background:url("takeawaylogo.png") no-repeat center;
	background-size:cover;
	width:150px;
	height:50px;
	margin: 1% auto 0 auto;
}

#logo:hover{
	opacity:0.5;
}


#facebook {
  background: url("facebook.png") no-repeat center;
  	height:30px;
  	width:30px;
  	
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

#twitter {
  background: url("twitter.png") no-repeat center;
  	height:30px;
  	width:30px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

.iconContainer {
	float:right;
	margin-top: 2%;
}

.icons{
	display:inline-block;
}

.icons:first-child {
	margin-right:20px;	
}

.icons:hover{
	opacity:0.5;
}

.flag {
	margin-right:200px !important;
}


@media only screen and (max-width: 1224px) {
	#about{
		font-size:0.9em;
		padding:6% 5% 6.75% 5%;	
	}

	#about>p{
		width:75%;
		margin:30px auto 0 auto;
	}

	#about p:first-child {
		margin-top: -10px;
	}

	#contentFrame{
		padding:3%;
	}

	#miller-pic,#coleman-pic,#echols-pic {
		width:250px;
 		height:250px;
 		border-width:5px;
	}

}
@media only screen and (max-width: 1095px) {
/*1025 1095*/
#about{
		font-size:0.9em;
		padding:6.25% 5% 6.75% 5%;	
	}
}
@media only screen and (max-width: 1024px) {
	#about{
		position:relative;


	}


	#about>p{
		width:70%;
		margin:10px auto 0 auto;
	}
	#miller-pic,#coleman-pic,#echols-pic {
		display:block;
		margin: 10px auto;
	}

	#underHerSkin{
		height:317px !important;
	}

	#aboutButton {
		display:none;
	}

}



/*691 - 802*/
@media only screen and (max-width: 810px){ 
		#underHerSkin{
		height: 240px !important;
	}

}
@media only screen and (max-width: 690px){
	#underHerSkin{
		height: 182px !important;
	}


	#about>p{
		width:80%;
		font-size:0.7em;
	}

}


@media only screen and (max-width: 560px) {	

	#underHerSkin{
		height: 75px !important;
	}
}


